In [2]:
# Import necessary libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np
# Load data
data = pd.read_csv("sales.csv")

# Preprocess data
data = data.dropna()  # Remove any missing values
X = data.drop(columns=["Running Low"])  # Features
y = data["Running Low"]  # Target variable
X = pd.get_dummies(X, columns=["Product Name"])  # One-hot encode product names


# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train decision tree model
model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)



# Evaluate model on test set
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Make predictions on new data
new_data = pd.DataFrame({"Product Name": ["Milk"], "Quantity Sold": [5]})
new_data = pd.get_dummies(new_data, columns=["Product Name"])
prediction = model.predict(new_data)[0]
if prediction == 0:
    print("The product is not running low.")
else:
    print("The product is running low.")

Accuracy: 0.25

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- Product Name_Bread
- Product Name_Cakes
- Product Name_Cheese
- Product Name_Chicken
- Product Name_Chocolate
- ...

  warnings.warn(message, FutureWarning)

ValueError: ignored

#This Decision Tree model use data from the inventory data base and if the quantity of a product falls before a certain threshold it will Alert the owner of the store to Restock the Items.

In [3]:
X = data.drop(columns=["Running Low"])  # Features
y = data["Running Low"]  # Target variable
X

      Product Name  Quantity Sold
0             Milk             50
1            Bread             30
2             Eggs             40
3           Cheese             20
4           Yogurt             60
5            Pizza             10
6        Chocolate             20
7      Cold drinks             30
8           Spices             40
9           Fruits             50
10      Vegetables             15
11        Desserts             25
12           Cakes             35
13         Chicken             45
14           Salad             55
15  Washing Powder              5
16            Soap              7
17           Water             13
18         Perfume             21

In [4]:
data['Product_encoded'] = data['Product Name'].astype('category')
data.dtypes

Product Name         object
Quantity Sold         int64
Running Low           int64
Product_encoded    category
dtype: object

In [5]:
data['encoding'] = data['Product_encoded'].cat.codes

In [6]:
data

      Product Name  Quantity Sold  Running Low Product_encoded  encoding
0             Milk             50            0            Milk         9
1            Bread             30            1           Bread         0
2             Eggs             40            0            Eggs         7
3           Cheese             20            1          Cheese         2
4           Yogurt             60            0          Yogurt        18
5            Pizza             10            1           Pizza        11
6        Chocolate             20            1       Chocolate         4
7      Cold drinks             30            0     Cold drinks         5
8           Spices             40            0          Spices        14
9           Fruits             50            1          Fruits         8
10      Vegetables             15            1      Vegetables        15
11        Desserts             25            1        Desserts         6
12           Cakes             35            1           Cakes         1
13         Chicken             45            0         Chicken         3
14           Salad             55            0           Salad        12
15  Washing Powder              5            0  Washing Powder        16
16            Soap              7            0            Soap        13
17           Water             13            1           Water        17
18         Perfume             21            0         Perfume        10

In [7]:
X = data.drop(columns=["Running Low","Product Name", "Product_encoded"])  # Features
y = data["Running Low"]  # Target variable

In [8]:
X
# X.dtypes

    Quantity Sold  encoding
0              50         9
1              30         0
2              40         7
3              20         2
4              60        18
5              10        11
6              20         4
7              30         5
8              40        14
9              50         8
10             15        15
11             25         6
12             35         1
13             45         3
14             55        12
15              5        16
16              7        13
17             13        17
18             21        10

In [9]:
y

0     0
1     1
2     0
3     1
4     0
5     1
6     1
7     0
8     0
9     1
10    1
11    1
12    1
13    0
14    0
15    0
16    0
17    1
18    0
Name: Running Low, dtype: int64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train decision tree model
model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [11]:
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Make predictions on new data
new_data = pd.DataFrame({"Quantity Sold": [45],"encoding": [6]})
# new_data = pd.get_dummies(new_data, columns=["encoding"])
prediction = model.predict(new_data)[0]
if prediction == 0:
    print("The product is not running low.")
else:
    print("The product is running low.")

Accuracy: 0.25
The product is not running low.

In [12]:
new_data

   Quantity Sold  encoding
0             45         6